$my-primary: #0c88d4ff;
$my-success: #11924bff;
$my-warning: #cc8100ff;
$my-danger:  #b3194aff;

$my-black:             #14171a;
$my-dark-gray:         #243447;
$my-medium-gray:       #657786;
$my-light-gray:        #aab8c2;
$my-extra-light-gray:  #e1e8ed;
$my-white:             #ffffff;

$foundation-primary: #1779ba;
$foundation-secondary: #767676;
$foundation-success: #3adb76;
$foundation-warning: #ffae00;
$foundation-danger: #cc4b37;

$foundation-light-gray: #e6e6e6;
$foundation-medium-gray: #cacaca;
$foundation-dark-gray: #8a8a8a;
$foundation-black: #0a0a0a;
$foundation-white: #fefefe;

$brown-primary: #4796c4;
$brown-success: #59db8f;
$brown-warning: #FFA059;
$brown-danger:  #e45959;

$brown-black:             #0e1012;
$brown-dark-gray:         #1f1f1f;
$brown-medium-gray:       #5e5e5e;
$brown-light-gray:        #c5c5c5;
$brown-extra-light-gray:  #e1e8ed;
$brown-white:             #f2f2f2;

$app-topbar-height: 48px;
$app-footer-height: 13rem;
