@use 'sass:color';
@use 'src/variables' as *;

$app-change-password-padding-vertical: 5rem;

html, html.light-theme, html.brown-theme {
  .app-change-password {
    padding-top: calc(#{$app-change-password-padding-vertical});
    padding-bottom: $app-change-password-padding-vertical;
    min-height: calc(100vh - #{$app-topbar-height} - #{$app-footer-height});
    .change-password-box {
      width: 100%;
      max-width: 28rem;
      margin: auto;
      padding: 1rem;
      background-color: var(--change-password-box-bg);
      box-shadow: var(--change-password-box-shadow);
      backdrop-filter: blur(5px);
      .error {
        padding: 1rem;
        background-color: var(--error-bg);
        color: var(--error-color);
        .dismiss {
          cursor: pointer;
        }
      }
    }
    & + footer.app-footer {
      background-color: var(--app-change-password-footer-bg);
    }
  }
}

html {
  --app-change-password-footer-bg: #{color.change($my-dark-gray, $lightness: 6%)};
  .app-change-password {
    --change-password-box-bg: #{color.change($my-dark-gray, $alpha: .15)};
    --change-password-box-shadow: none;
    --error-bg: #{color.change($my-danger, $alpha: .2)};
    --error-color: #{$my-danger};
  }
}

html.light-theme {
  --app-change-password-footer-bg: #{color.change($my-light-gray, $lightness: 100%)};
  .app-change-password {
    --change-password-box-bg: $my-white;
    --change-password-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    --error-bg: #{color.change($my-danger, $alpha: .2)};
    --error-color: #{$my-danger};
  }
}

html.brown-theme {
  --app-change-password-footer-bg: #{color.change($brown-dark-gray, $lightness: 6%)};
  .app-change-password {
    --change-password-box-bg: #{color.change($brown-dark-gray, $alpha: .3)};
    --change-password-box-shadow: none;
    --error-bg: #{color.change($brown-danger, $alpha: .2)};
    --error-color: #{$brown-danger};
  }
}
